:host {
    padding: 16px;
    border-radius: 12px;

    a {
        color: #050505;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: rgb(215, 236, 255);
        background-color: #2e2c2c;
    }
}

:host:hover {
    background-color: #2e2c2c;
    color: rgb(113, 158, 179);
}

.card-image {
    height: 100px;
    border-radius: 12px;
}
